# 1) Write a python program to display all the header tags from wikipedia.org and make data frame.

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL of the Wikipedia page
url = "https://en.wikipedia.org/wiki/Main_Page"

# Send a GET request to the URL
response = requests.get(url)
html_content = response.content

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Find all header tags (h1 to h6)
header_tags = soup.find_all(['h1', 'h2', 'h3', 'h4', 'h5', 'h6'])

# Extract header tag text and level
header_data = []
for tag in header_tags:
    tag_text = tag.get_text()
    tag_level = tag.name
    header_data.append({'Tag Level': tag_level, 'Tag Text': tag_text})

# Create a DataFrame using pandas
header_df = pd.DataFrame(header_data)

# Display the DataFrame
print(header_df)

   Tag Level                       Tag Text
0         h1                      Main Page
1         h1           Welcome to Wikipedia
2         h2  From today's featured article
3         h2               Did you know ...
4         h2                    In the news
5         h2                    On this day
6         h2     From today's featured list
7         h2       Today's featured picture
8         h2       Other areas of Wikipedia
9         h2    Wikipedia's sister projects
10        h2            Wikipedia languages

# 2)Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame

# a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL of the ICC cricket rankings page for men's ODI teams
url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"

# Send a GET request to the URL
response = requests.get(url)
html_content = response.content

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Find the table containing the rankings
table = soup.find('table', class_='table')

# Extract team data (Ranking, Team, Matches, Points, Rating) for top 10 teams
top_10_teams = []

for row in table.find_all('tr')[1:11]:  # Start from index 1 to skip header row, end at index 11 to get top 10
    columns = row.find_all('td')
    ranking = columns[0].text.strip()
    team = columns[1].text.strip()
    matches = columns[2].text.strip()
    points = columns[3].text.strip()
    rating = columns[4].text.strip()
    top_10_teams.append({'Ranking': ranking, 'Team': team, 'Matches': matches, 'Points': points, 'Rating': rating})

# Create a DataFrame using pandas
df = pd.DataFrame(top_10_teams)

# Display the DataFrame
print(df)

  Ranking              Team Matches Points Rating
0       1    Australia\nAUS      23  2,714    118
1       2     Pakistan\nPAK      20  2,316    116
2       3        India\nIND      36  4,081    113
3       4   New Zealand\nNZ      27  2,806    104
4       5      England\nENG      24  2,426    101
5       6  South Africa\nSA      19  1,910    101
6       7   Bangladesh\nBAN      28  2,661     95
7       8  Afghanistan\nAFG      16  1,404     88
8       9     Sri Lanka\nSL      32  2,794     87
9      10   West Indies\nWI      38  2,582     68

# b) Top 10 ODI Batsmen along with the records of their team andrating.

In [30]:
from bs4 import BeautifulSoup
import requests

url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi"
response = requests.get(url)
html_content = response.content

# Create a BeautifulSoup object
soup = BeautifulSoup(html_content, 'html.parser')

# Find the element with class "rankings-block__top-player"
top_player_element = soup.find('div', class_='rankings-block__top-player')

# Extract the name of the top batsman, team, and rating
top_batsman_name = top_player_element.find('div', class_='rankings-block__banner--name').text.strip()
top_batsman_team = top_player_element.find('div', class_='rankings-block__banner--nationality').find('div')['class'][1]
top_batsman_rating = top_player_element.find('div', class_='rankings-block__banner--rating').text.strip()

# Print the details of the top-ranked batsman
print(f"Top ODI Batsman:")
print(f"Name: {top_batsman_name}")
print(f"Team: {top_batsman_team}")
print(f"Rating: {top_batsman_rating}\n")

# Find the table element with class "table rankings-card-table"
table_element = soup.find('table', class_='table rankings-card-table')

# Find all rows (table rows) within the table body
rows = table_element.find_all('tr')

# Initialize a list to store the top 10 batsmen details
top_10_batsmen_details = []

# Loop through the rows (excluding the header row)
for row in rows[1:]:  # Skip the first row as it contains the header
    cols = row.find_all('td')
    player_name = cols[1].find('a').text.strip()
    player_team = cols[2].find('span', class_='table-body__logo-text').text.strip()
    player_rating = cols[3].text.strip()
    top_10_batsmen_details.append({'Name': player_name, 'Team': player_team, 'Rating': player_rating})

# Print the details of the top 10 ODI batsmen
#print("Top 10 ODI Batsmen:")
for idx, batsman in enumerate(top_10_batsmen_details, start=2):
    print(f"{idx}) {batsman['Name']: <25} Team: {batsman['Team']: <5} Rating: {batsman['Rating']}")

Top ODI Batsman:
Name: Babar Azam
Team: PAK
Rating: 886

2) Rassie van der Dussen     Team: SA    Rating: 777
3) Fakhar Zaman              Team: PAK   Rating: 755
4) Imam-ul-Haq               Team: PAK   Rating: 745
5) Shubman Gill              Team: IND   Rating: 743
6) Harry Tector              Team: IRE   Rating: 726
7) David Warner              Team: AUS   Rating: 726
8) Quinton de Kock           Team: SA    Rating: 718
9) Virat Kohli               Team: IND   Rating: 705
10) Steve Smith               Team: AUS   Rating: 702

# c) Top 10 ODI bowlers along with the records of their team andrating

In [32]:
from bs4 import BeautifulSoup
import requests

url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi"
response = requests.get(url)
html_content = response.content

# Create a BeautifulSoup object
soup = BeautifulSoup(html_content, 'html.parser')

# Find the element with class "rankings-block__container" for ODI bowling rankings
bowling_rankings_container = soup.find('div', class_='rankings-block__container', attrs={'data-cricket-role': 'bowling', 'data-cricket-scope': 'odi'})

# Find all rows within the table body
rows = bowling_rankings_container.find_all('tr', class_='table-body')

# Initialize a list to store the top 10 bowlers details
top_10_bowlers_details = []

# Loop through the rows
for row in rows:
    cols = row.find_all('td')
    player_name = cols[1].find('a').text.strip()
    player_team = cols[2].find('span', class_='table-body__logo-text').text.strip()
    player_rating = cols[3].text.strip()
    top_10_bowlers_details.append({'Name': player_name, 'Team': player_team, 'Rating': player_rating})

# Print the details of the top 10 ODI bowlers
print("Top 10 ODI Bowlers:")
for idx, bowler in enumerate(top_10_bowlers_details, start=1):
    print(f"{idx}) {bowler['Name']: <25} Team: {bowler['Team']: <5} Rating: {bowler['Rating']}")

Top 10 ODI Bowlers:
1) Mitchell Starc            Team: AUS   Rating: 686
2) Rashid Khan               Team: AFG   Rating: 682
3) Mohammed Siraj            Team: IND   Rating: 670
4) Matt Henry                Team: NZ    Rating: 667
5) Mujeeb Ur Rahman          Team: AFG   Rating: 661
6) Trent Boult               Team: NZ    Rating: 660
7) Adam Zampa                Team: AUS   Rating: 652
8) Shaheen Afridi            Team: PAK   Rating: 630
9) Kuldeep Yadav             Team: IND   Rating: 622

# 3) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame

# a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating

In [5]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

# URL of the ICC Women's ODI team rankings
url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"

# Send a GET request to the URL
response = requests.get(url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, "html.parser")

# Find the table containing the team rankings
table = soup.find("table", class_="table")

# Initialize empty lists to store data
rankings = []
teams = []
matches = []
points = []
rating = []

# Extract data from the table rows
rows = table.find_all("tr")[1:11]  # Skip the header row and select top 10 teams
for rank, row in enumerate(rows, start=1):
    columns = row.find_all("td")
    rank_text = columns[0].text.strip()
    team_name = columns[1].find("span", class_="u-hide-phablet").text.strip()
    matches_text = columns[2].text.strip()
    points_text = columns[3].text.strip().replace(",", "")
    rating_text = columns[4].text.strip()
    
    rankings.append(rank_text)
    teams.append(team_name)
    matches.append(matches_text)
    points.append(points_text)
    rating.append(rating_text)

# Create a DataFrame
data = {
    "Rank": rankings,
    "Team": teams,
    "Matches": matches,
    "Points": points,
    "Rating": rating
}
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

  Rank          Team Matches Points Rating
0    1     Australia      26   4290    165
1    2       England      31   3875    125
2    3  South Africa      26   3098    119
3    4         India      30   3039    101
4    5   New Zealand      28   2688     96
5    6   West Indies      29   2743     95
6    7    Bangladesh      17   1284     76
7    8     Sri Lanka      12    820     68
8    9      Thailand      13    883     68
9   10      Pakistan      27   1678     62

# b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [57]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import re

# URL of the ICC Women's ODI batting rankings
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"

# Send a GET request to the URL
response = requests.get(url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, "html.parser")

# Find the top player's name and rating
top_player_name = soup.find("div", class_="rankings-block__banner--name-large").text.strip()
top_player_rating = int(soup.find("div", class_="rankings-block__banner--rating").text.strip())

nationality_element = soup.find(class_='rankings-block__banner--nationality')

# Extract the nationality text
nationality = nationality_element.get_text(strip=True)[-3:]



# Find the table containing the batting player rankings
table = soup.find("table", class_="table")

# Initialize empty lists to store data
players = [top_player_name]
teams = [nationality]
ratings = [top_player_rating]

# Extract data from the table rows
rows = table.find_all("tr")[2:11]  # Skip the header row and select top 10 players
for row in rows:
    columns = row.find_all("td")
    player_name = columns[1].find("a").text.strip()  # Extract player name
    players.append(player_name)
    teams.append(columns[2].text.strip())
    
    rating_text = columns[4].text.strip()  # Extract rating text
    rating = int(re.search(r'\d+', rating_text).group()) if re.search(r'\d+', rating_text) else 0  # Extract numerical part
    ratings.append(rating)

# Create a DataFrame
data = {
    "Player": players,
    "Team": teams,
    "Rating": ratings
}
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

                 Player Team  Rating
0  Natalie Sciver-Brunt  ENG     803
1   Chamari Athapaththu   SL     758
2           Beth Mooney  AUS     776
3       Laura Wolvaardt   SA     741
4       Smriti Mandhana  IND     797
5          Alyssa Healy  AUS     785
6      Harmanpreet Kaur  IND     731
7          Ellyse Perry  AUS     766
8           Meg Lanning  AUS     834
9       Stafanie Taylor   WI     766

# c) Top 10 women’s ODI all-rounder along with the records of their team and rating

In [81]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import re

# URL of the ICC Women's ODI all-rounder rankings
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"

# Send a GET request to the URL
response = requests.get(url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, "html.parser")

# Find the table containing the all-rounder player rankings
table = soup.find("table", class_="table")

# Initialize empty lists to store data
players = []
teams = []
ratings = []

# Extract top player's information
top_player_name = soup.find("div", class_="rankings-block__banner--name-large").text.strip()
top_player_team = soup.find("div", class_="rankings-block__banner--nationality").text.strip()
top_player_rating = int(soup.find("div", class_="rankings-block__banner--rating").text.strip())

# Append top player's information to lists
players.append(top_player_name)
teams.append(top_player_team)
ratings.append(top_player_rating)

# Extract data from the table rows
rows = table.find_all("tr")[2:12]  # Skip the header row and select rows 2 to 11
for rank, row in enumerate(rows, start=1):  # Start rank from 1
    columns = row.find_all("td")
    player_name = columns[1].find("a").text.strip()  # Extract player name
    players.append(player_name)
    
    team_info = columns[2].find("span", class_="table-body__logo-text")  # Extract team info
    team = team_info.get_text(strip=True) if team_info else "-"
    teams.append(team)
    
    rating_text = columns[4].text.strip()  # Extract rating text
    rating = int(re.search(r'\d+', rating_text).group()) if re.search(r'\d+', rating_text) else 0  # Extract numerical part
    ratings.append(rating)

# Create a DataFrame
data = {
    "Rank": range(1, 12),  # Include rank starting from 1
    "Player": players,
    "Team": teams,
    "Rating": ratings
}
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

    Rank                Player Team  Rating
0      1  Natalie Sciver-Brunt  ENG     421
1      2      Ashleigh Gardner  AUS     389
2      3       Hayley Matthews   WI     392
3      4        Marizanne Kapp   SA     419
4      5          Ellyse Perry  AUS     548
5      6           Amelia Kerr   NZ     356
6      7         Deepti Sharma  IND     397
7      8         Jess Jonassen  AUS     308
8      9         Sophie Devine   NZ     305
9     10              Nida Dar  PAK     232
10    11     Sophie Ecclestone  ENG     217

# 4) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame
i) Headline

ii) Time

iii) News Lin

In [85]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from datetime import datetime

# URL of the webpage to scrape
url = "https://www.cnbc.com/world/?region=world"

# Send a GET request to the URL
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

# Initialize lists to store data
headlines = []
times = []
news_links = []

# Find all news articles on the page
articles = soup.find_all("div", class_="Card-titleContainer")

# Extract data from each article
for article in articles:
    headline = article.find("a").text.strip()
    news_link = "https://www.cnbc.com" + article.find("a")["href"]

    # Extract the date from the href
    date_str = news_link.split("/")[-4:-1]
    date = "/".join(date_str)
    
    # Convert date string to datetime object
    time = datetime.strptime(date, "%Y/%m/%d")
    
    headlines.append(headline)
    times.append(time)
    news_links.append(news_link)

# Create a dataframe
data = {
    "Headline": headlines,
    "Time": times,
    "News Link": news_links
}
df = pd.DataFrame(data)

# Print the dataframe
df

,Headline,Time,News Link
0,"Nasdaq falls a fourth day in a row, notches lo...",2023-08-17,https://www.cnbc.comhttps://www.cnbc.com/2023/...
1,"Can expensive, American-made weapons like F-16...",2023-08-19,https://www.cnbc.comhttps://www.cnbc.com/2023/...
2,Here's why Ukraine wants more big ticket Weste...,2023-08-19,https://www.cnbc.comhttps://www.cnbc.com/video...
3,U.S. approves shipments of F-16s to Ukraine in...,2023-08-18,https://www.cnbc.comhttps://www.cnbc.com/2023/...
4,Ukraine to receive F-16 jets from Denmark and ...,2023-08-18,https://www.cnbc.comhttps://www.cnbc.com/2023/...
5,Ukraine sees no hope for F-16s this year; Naft...,2023-08-17,https://www.cnbc.comhttps://www.cnbc.com/2023/...
6,A multitrillion-dollar carbon bubble? Climate ...,2023-08-16,https://www.cnbc.comhttps://www.cnbc.com/2023/...
7,Moving toward low carbon steel is a matter of ...,2023-08-17,https://www.cnbc.comhttps://www.cnbc.com/video...
8,We share the same vision as Fortescue Future I...,2023-08-17,https://www.cnbc.comhttps://www.cnbc.com/video...
9,"Business is war, and we go to war every day: G...",2023-08-17,https://www.cnbc.comhttps://www.cnbc.com/video...
10,Offshore wind turbine catches fire off east co...,2023-08-15,https://www.cnbc.comhttps://www.cnbc.com/2023/...
11,Southeast Asia turns to alternative meats as f...,2023-08-16,https://www.cnbc.comhttps://www.cnbc.com/2023/...
12,Southeast Asia moves closer to economic unity ...,2023-07-30,https://www.cnbc.comhttps://www.cnbc.com/2023/...
13,Indonesian Chamber of Commerce and Industry di...,2023-08-14,https://www.cnbc.comhttps://www.cnbc.com/video...
14,Stock Exchange of Thailand's president discuss...,2023-08-07,https://www.cnbc.comhttps://www.cnbc.com/video...
15,Vietnam's EV ownership will see 'strong growth...,2023-08-07,https://www.cnbc.comhttps://www.cnbc.com/2023/...
16,Chances are you haven’t used A.I. to plan a va...,2023-08-14,https://www.cnbc.comhttps://www.cnbc.com/2023/...
17,"$1,850 a day? What it costs to visit the 10 pr...",2023-08-11,https://www.cnbc.comhttps://www.cnbc.com/2023/...
18,Cat-sitting is a whole new travel experience. ...,2023-08-10,https://www.cnbc.comhttps://www.cnbc.com/2023/...
19,"A new luxury hotel is opening near Singapore, ...",2023-08-04,https://www.cnbc.comhttps://www.cnbc.com/2023/...
20,A market slaughtering dogs was a top tourist a...,2023-08-07,https://www.cnbc.comhttps://www.cnbc.com/2023/...
21,Career choices is the No. 1 conflict among div...,2023-08-19,https://www.cnbc.comhttps://www.cnbc.com/2023/...
22,Harvard gut doctor avoids these 4 foods that c...,2023-08-19,https://www.cnbc.comhttps://www.cnbc.com/2023/...
23,Top 10 best European cities for retirement,2023-08-19,https://www.cnbc.comhttps://www.cnbc.com/2023/...
24,The No. 1 best state to retire in the U.S.—it'...,2023-08-19,https://www.cnbc.comhttps://www.cnbc.com/2023/...
25,Mark Cuban passed on an Uber investment that c...,2023-08-19,https://www.cnbc.comhttps://www.cnbc.com/2023/...

# 5) Write a python program to scrape the details of most downloaded articles from AI in last 90
days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details and make data frame

i) Paper Title

ii) Authors

iii) Published Date

iv) Paper URL

In [82]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL of the webpage to scrape
url = "https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"

# Send a GET request to the URL
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

# Initialize lists to store data
paper_titles = []
authors_list = []
published_dates = []
paper_urls = []

# Find all article items on the page
article_items = soup.find_all("article")

# Extract data from each article item
for item in article_items:
    # Extract paper title
    paper_title = item.find("h2").text.strip()
    paper_titles.append(paper_title)
    
    # Extract authors
    authors = item.find("span", class_="sc-1w3fpd7-0").text.strip()
    authors_list.append(authors)
    
    # Extract published date
    published_date = item.find("span", class_="sc-1thf9ly-2").text.strip()
    published_dates.append(published_date)
    
    # Extract paper URL
    paper_url = item.find("a", class_="sc-5smygv-0")["href"]
    paper_urls.append(paper_url)

# Create a dataframe
data = {
    "Paper Title": paper_titles,
    "Authors": authors_list,
    "Published Date": published_dates,
    "Paper URL": paper_urls
}
df = pd.DataFrame(data)

# Print the dataframe
df

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

# 6) Write a python program to scrape mentioned details from dineout.co.inand make data frame 
i) Restaurant name

ii) Cuisine

iii) Location

iv) Ratings

v) Image UR

In [25]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL of the page to scrape
url = "https://www.dineout.co.in/delhi-restaurants"

# Send a GET request to the URL
response = requests.get(url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

# Find all restaurant cards
restaurant_cards = soup.find_all('div', class_='restnt-card')

# Lists to store scraped data
restaurant_names = []
cuisines = []
locations = []
ratings = []
image_urls = []

# Loop through each restaurant card and extract the required details
for card in restaurant_cards:
    restaurant_name = card.find('a', class_='restnt-name').text.strip()
    cuisine_tags = card.find_all('a', href=True, data_w_onclick=True)
    cuisine_list = [cuisine.text for cuisine in cuisine_tags]
    cuisine = ', '.join(cuisine_list)
    location_tags = card.find_all('a', href=True, data_name=True, data_type=True)
    location_list = [location['data-name'] for location in location_tags if location['data-type'] == 'LocalityClick']
    location = ', '.join(location_list)
    rating = card.find('div', class_='restnt-rating').text.strip()
    image_url = card.find('img', class_='no-img')['data-src']

    restaurant_names.append(restaurant_name)
    cuisines.append(cuisine)
    locations.append(location)
    ratings.append(rating)
    image_urls.append(image_url)

# Create a DataFrame from the scraped data
data = {
    'Restaurant Name': restaurant_names,
    'Cuisine': cuisines,
    'Location': locations,
    'Ratings': ratings,
    'Image URL': image_urls
}
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

                    Restaurant Name Cuisine Location Ratings  \
0                       Station Bar                        4
1                             Local                        4
2                    Openhouse Cafe                      4.1
3                           Tamasha                      4.2
4                     My Bar Square                      3.9
5                     The G.T. Road                      4.3
6                  Ministry Of Beer                        4
7                    Warehouse Cafe                      4.1
8              Connaught Club House                      4.2
9                 The Junkyard Cafe                      4.1
10              Unplugged Courtyard                        4
11               Lord of the Drinks                      4.2
12                          Berco's                      4.3
13                      Dasaprakash                      4.2
14              My Bar Headquarters                        4
15                        Oh My God                        4
16                           Sandoz                        4
17                              QBA                      4.2
18                      38 Barracks                      4.3
19  Ardor 2.1 Restaurant and Lounge                      4.1
20                   Lazeez Affaire                      4.1

                                            Image URL
0   https://im1.dineout.co.in/images/uploads/resta...
1   https://im1.dineout.co.in/images/uploads/resta...
2   https://im1.dineout.co.in/images/uploads/resta...
3   https://im1.dineout.co.in/images/uploads/resta...
4   https://im1.dineout.co.in/images/uploads/resta...
5   https://im1.dineout.co.in/images/uploads/resta...
6   https://im1.dineout.co.in/images/uploads/resta...
7   https://im1.dineout.co.in/images/uploads/resta...
8   https://im1.dineout.co.in/images/uploads/resta...
9   https://im1.dineout.co.in/images/uploads/resta...
10  https://im1.dineout.co.in/images/uploads/resta...
11  https://im1.dineout.co.in/images/uploads/resta...
12  https://im1.dineout.co.in/images/uploads/resta...
13  https://im1.dineout.co.in/images/uploads/resta...
14  https://im1.dineout.co.in/images/uploads/resta...
15  https://im1.dineout.co.in/images/uploads/resta...
16  https://im1.dineout.co.in/images/uploads/resta...
17  https://im1.dineout.co.in/images/uploads/resta...
18  https://im1.dineout.co.in/images/uploads/resta...
19  https://im1.dineout.co.in/images/uploads/resta...
20  https://im1.dineout.co.in/images/uploads/resta...

In [26]:
df

,Restaurant Name,Cuisine,Location,Ratings,Image URL
0,Station Bar,,,4,https://im1.dineout.co.in/images/uploads/resta...
1,Local,,,4,https://im1.dineout.co.in/images/uploads/resta...
2,Openhouse Cafe,,,4.1,https://im1.dineout.co.in/images/uploads/resta...
3,Tamasha,,,4.2,https://im1.dineout.co.in/images/uploads/resta...
4,My Bar Square,,,3.9,https://im1.dineout.co.in/images/uploads/resta...
5,The G.T. Road,,,4.3,https://im1.dineout.co.in/images/uploads/resta...
6,Ministry Of Beer,,,4,https://im1.dineout.co.in/images/uploads/resta...
7,Warehouse Cafe,,,4.1,https://im1.dineout.co.in/images/uploads/resta...
8,Connaught Club House,,,4.2,https://im1.dineout.co.in/images/uploads/resta...
9,The Junkyard Cafe,,,4.1,https://im1.dineout.co.in/images/uploads/resta...
10,Unplugged Courtyard,,,4,https://im1.dineout.co.in/images/uploads/resta...
11,Lord of the Drinks,,,4.2,https://im1.dineout.co.in/images/uploads/resta...
12,Berco's,,,4.3,https://im1.dineout.co.in/images/uploads/resta...
13,Dasaprakash,,,4.2,https://im1.dineout.co.in/images/uploads/resta...
14,My Bar Headquarters,,,4,https://im1.dineout.co.in/images/uploads/resta...
15,Oh My God,,,4,https://im1.dineout.co.in/images/uploads/resta...
16,Sandoz,,,4,https://im1.dineout.co.in/images/uploads/resta...
17,QBA,,,4.2,https://im1.dineout.co.in/images/uploads/resta...
18,38 Barracks,,,4.3,https://im1.dineout.co.in/images/uploads/resta...
19,Ardor 2.1 Restaurant and Lounge,,,4.1,https://im1.dineout.co.in/images/uploads/resta...
20,Lazeez Affaire,,,4.1,https://im1.dineout.co.in/images/uploads/resta...

In [32]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL of the page to scrape
url = "https://www.dineout.co.in/delhi-restaurants"
base_url="https://www.dineout.co.in"
# Send a GET request to the URL
response = requests.get(url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

# Find all restaurant cards
restaurant_cards = soup.find_all('a', class_="restnt-name ellipsis")

for card in restaurant_cards:
    # Extract the restaurant name
    restaurant_name = card.get_text()

    # Extract the href attribute
    href = card['href']
    restaurant_info= request.get(base_url+href)

<div class="restnt-details_info"><h1>Castle Barbeque</h1><div class="restnt-cost">₹ 2,000 for 2 | <a href="/delhi-restaurants/central-delhi/connaught-place/chinese-cuisine" class="text-ltgrey">Chinese</a>, <a href="/delhi-restaurants/central-delhi/connaught-place/north-indian-cuisine" class="text-ltgrey">North Indian</a></div><div class="restnt-name"><a href="/delhi-restaurants/central-delhi/connaught-place" class="text-ltgrey">Connaught Place | </a><a href="/delhi-restaurants" class="text-ltgrey">Delhi | </a><a href="javascript:void(0)" data-toggle="modal" data-target="#direction" class="text-blue font-bold" item-clicked="direction" data-w-onclick="restroNavClicked|w1"><img src="https://im1.dineout.co.in/images/uploads/mailer/2019/Jul/11/path.png" width="13" height="13"> Get Direction</a></div><div class="timing">Time: <a href="javascript:void(0)" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" data-action="rdp-timings" aria-expanded="true" data-w-onclick="restroGAEvents|w1"><span class="text-blue font-bold"> (Opens at 12:00 PM)</span><i class="do do-angle-down"></i><div class="opening-hrs-wrap"><div class="time-wrap"><div class="all-timings"><div class="tooltip bottom" role="menu" aria-labelledby="dropdownMenu1"><div class="tooltip-arrow"></div><div class="tooltip-inner"><ul><li><span class="day">Sunday</span>12:00 PM to 12:00 AM</li><li><span class="day">Monday</span>12:00 PM to 12:00 AM</li><li><span class="day">Tuesday</span>12:00 PM to 12:00 AM</li><li><span class="day">Wednesday</span>12:00 PM to 12:00 AM</li><li><span class="day">Thursday</span>12:00 PM to 12:00 AM</li><li><span class="day">Friday</span>12:00 PM to 12:00 AM</li><li><span class="day">Saturday</span>12:00 PM to 12:00 AM</li></ul></div></div></div></div></div></a></div></div>

from this reference extract cuisine,location 
from restaurant_cards = soup.find_all('a', class_="restnt-name ellipsis") extract Restaurant name,Cuisine,Image URL

In [35]:
print("https://www.dineout.co.in"+"/delhi/station-bar-connaught-place-central-delhi-971")

https://www.dineout.co.in/delhi/station-bar-connaught-place-central-delhi-971

In [39]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from urllib.parse import urljoin

# URL of the page to scrape
base_url = "https://www.dineout.co.in"
url = "https://www.dineout.co.in/delhi-restaurants"

# Send a GET request to the URL
response = requests.get(url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

# Find all restaurant cards
restaurant_cards = soup.find_all('a', class_="restnt-name ellipsis")

# Create empty lists to store extracted data
restaurant_data = []

# Iterate through each restaurant card
for card in restaurant_cards:
    # Extract the restaurant name
    restaurant_name = card.get_text()

    # Extract the href attribute
    href = card['href']

    # Construct the full URL
    full_url = urljoin(base_url, href)

    # Follow the href link to the restaurant details page
    restaurant_response = requests.get(full_url)
    restaurant_soup = BeautifulSoup(restaurant_response.content, 'html.parser')
    
    # Extract the div containing restaurant details
    details_div = restaurant_soup.find('div', class_="restnt-details_info")

    if details_div:
        # Extract cuisine and location
        cuisine = details_div.find('div', class_="restnt-cost").get_text(strip=True)
        location = details_div.find('div', class_="restnt-name").get_text(strip=True)

        # Extract the image URL
        image_url = details_div.find('a', class_="text-blue font-bold").find('img')['src']

        # Append data to the list
        restaurant_data.append({
            "Restaurant Name": restaurant_name,
            "Cuisine": cuisine,
            "Location": location,
            "Image URL": image_url
        })

# Convert the list to a pandas DataFrame
restaurant_df = pd.DataFrame(restaurant_data)

# Display the DataFrame
print(restaurant_df)

                    Restaurant Name  \
0                       Station Bar
1                             Local
2                    Openhouse Cafe
3                           Tamasha
4                     My Bar Square
5                     The G.T. Road
6                  Ministry Of Beer
7                    Warehouse Cafe
8              Connaught Club House
9                 The Junkyard Cafe
10              Unplugged Courtyard
11               Lord of the Drinks
12                          Berco's
13                      Dasaprakash
14              My Bar Headquarters
15                        Oh My God
16                           Sandoz
17                              QBA
18                      38 Barracks
19  Ardor 2.1 Restaurant and Lounge
20                   Lazeez Affaire

                                              Cuisine  \
0   ₹ 1,100 for 2 |Italian,Chinese,North Indian,Fa...
1       ₹ 2,000 for 2 |North Indian,Asian,Continental
2           ₹ 2,000 for 2 |North Indian,Asian,Italian
3   ₹ 2,000 for 2 |Continental,Asian,Italian,North...
4   ₹ 2,000 for 2 |Finger Food,Chinese,Continental...
5                         ₹ 2,000 for 2 |North Indian
6   ₹ 3,000 for 2 |North Indian,Continental,Americ...
7         ₹ 2,500 for 2 |North Indian,Chinese,Italian
8   ₹ 1,800 for 2 |North Indian,Continental,Asian,...
9   ₹ 2,100 for 2 |North Indian,Continental,Chines...
10  ₹ 2,500 for 2 |North Indian,Italian,Chinese,Tu...
11      ₹ 2,500 for 2 |Fast Food,Chinese,North Indian
12                        ₹ 1,300 for 2 |Chinese,Thai
13  ₹ 800 for 2 |Beverages,Chinese,Continental,Nor...
14                ₹ 1,500 for 2 |North Indian,Chinese
15    ₹ 1,100 for 2 |Continental,North Indian,Chinese
16            ₹ 1,400 for 2 |Continental,North Indian
17    ₹ 2,100 for 2 |North Indian,Continental,Italian
18    ₹ 2,700 for 2 |North Indian,Chinese,Continental
19  ₹ 2,000 for 2 |North Indian,Chinese,Italian,Co...
20        ₹ 2,600 for 2 |Mughlai,Chinese,North Indian

                                             Location  \
0      F-Block |Connaught Place |Delhi |Get Direction
1   Scindia House |Connaught Place |Delhi |Get Dir...
2               Connaught Place |Delhi |Get Direction
3               Connaught Place |Delhi |Get Direction
4               Connaught Place |Delhi |Get Direction
5      M-Block |Connaught Place |Delhi |Get Direction
6      M-Block |Connaught Place |Delhi |Get Direction
7               Connaught Place |Delhi |Get Direction
8               Connaught Place |Delhi |Get Direction
9               Connaught Place |Delhi |Get Direction
10              Connaught Place |Delhi |Get Direction
11              Connaught Place |Delhi |Get Direction
12              Connaught Place |Delhi |Get Direction
13              Connaught Place |Delhi |Get Direction
14              Connaught Place |Delhi |Get Direction
15     F-Block |Connaught Place |Delhi |Get Direction
16              Connaught Place |Delhi |Get Direction
17              Connaught Place |Delhi |Get Direction
18     M-Block |Connaught Place |Delhi |Get Direction
19              Connaught Place |Delhi |Get Direction
20              Connaught Place |Delhi |Get Direction

                                            Image URL
0   https://im1.dineout.co.in/images/uploads/maile...
1   https://im1.dineout.co.in/images/uploads/maile...
2   https://im1.dineout.co.in/images/uploads/maile...
3   https://im1.dineout.co.in/images/uploads/maile...
4   https://im1.dineout.co.in/images/uploads/maile...
5   https://im1.dineout.co.in/images/uploads/maile...
6   https://im1.dineout.co.in/images/uploads/maile...
7   https://im1.dineout.co.in/images/uploads/maile...
8   https://im1.dineout.co.in/images/uploads/maile...
9   https://im1.dineout.co.in/images/uploads/maile...
10  https://im1.dineout.co.in/images/uploads/maile...
11  https://im1.dineout.co.in/images/uploads/maile...
12  https://im1.dineout.co.in/images/uploads/maile...
13  https://im1.dineout.co.in/images/uploads/maile...
14  https://im1.dineout.co.in/images/uploads/maile...
15  https://im1.dineout.co.in/images/uploads/maile...
16  https://im1.dineout.co.in/images/uploads/maile...
17  https://im1.dineout.co.in/images/uploads/maile...
18  https://im1.dineout.co.in/images/uploads/maile...
19  https://im1.dineout.co.in/images/uploads/maile...
20  https://im1.dineout.co.in/images/uploads/maile...

In [40]:
df

,Restaurant Name,Cuisine,Location,Ratings,Image URL
0,Station Bar,,,4,https://im1.dineout.co.in/images/uploads/resta...
1,Local,,,4,https://im1.dineout.co.in/images/uploads/resta...
2,Openhouse Cafe,,,4.1,https://im1.dineout.co.in/images/uploads/resta...
3,Tamasha,,,4.2,https://im1.dineout.co.in/images/uploads/resta...
4,My Bar Square,,,3.9,https://im1.dineout.co.in/images/uploads/resta...
5,The G.T. Road,,,4.3,https://im1.dineout.co.in/images/uploads/resta...
6,Ministry Of Beer,,,4,https://im1.dineout.co.in/images/uploads/resta...
7,Warehouse Cafe,,,4.1,https://im1.dineout.co.in/images/uploads/resta...
8,Connaught Club House,,,4.2,https://im1.dineout.co.in/images/uploads/resta...
9,The Junkyard Cafe,,,4.1,https://im1.dineout.co.in/images/uploads/resta...
10,Unplugged Courtyard,,,4,https://im1.dineout.co.in/images/uploads/resta...
11,Lord of the Drinks,,,4.2,https://im1.dineout.co.in/images/uploads/resta...
12,Berco's,,,4.3,https://im1.dineout.co.in/images/uploads/resta...
13,Dasaprakash,,,4.2,https://im1.dineout.co.in/images/uploads/resta...
14,My Bar Headquarters,,,4,https://im1.dineout.co.in/images/uploads/resta...
15,Oh My God,,,4,https://im1.dineout.co.in/images/uploads/resta...
16,Sandoz,,,4,https://im1.dineout.co.in/images/uploads/resta...
17,QBA,,,4.2,https://im1.dineout.co.in/images/uploads/resta...
18,38 Barracks,,,4.3,https://im1.dineout.co.in/images/uploads/resta...
19,Ardor 2.1 Restaurant and Lounge,,,4.1,https://im1.dineout.co.in/images/uploads/resta...
20,Lazeez Affaire,,,4.1,https://im1.dineout.co.in/images/uploads/resta...

In [43]:
base_url = "https://www.dineout.co.in"  # Base URL for the restaurant cards

# Initialize empty lists to store data
restaurant_names = []
cuisines = []
locations = []
ratings = []
image_urls = []

# Loop through each restaurant card
for card in restaurant_cards:
    # Extract restaurant name
    restaurant_name = card.text.strip()
    restaurant_names.append(restaurant_name)
    
    # Combine base URL with href to create complete URL
    href = card['href']
    complete_url = base_url + href
    
    # Send a GET request to the complete URL
    restaurant_response = requests.get(complete_url)
    restaurant_soup = BeautifulSoup(restaurant_response.content, 'html.parser')
    
    # Extract the div containing restaurant details
    details_div = restaurant_soup.find('div', class_='restnt-details_info')
    
    # Extract cuisine and location
    cuisine_element = details_div.find('div', class_='restnt-cost')
    cuisine = ', '.join([a.text for a in cuisine_element.find_all('a') if a.has_attr('href')])
    cuisines.append(cuisine)
    
    location_element = details_div.find('div', class_='restnt-name')
    location = location_element.find('a', class_='text-ltgrey').text.strip()
    locations.append(location)
    
    # Extract the ratings and image URL
    rating_element = details_div.find('div', class_='cursor rest-rating')
    rating = rating_element.text.strip() if rating_element else ''
    ratings.append(rating)
    
    image_element = restaurant_soup.find('img', class_='rest-image')
    image_url = image_element['src'] if image_element else ''
    image_urls.append(image_url)

# Create a DataFrame
data = {
    "Restaurant Name": restaurant_names,
    "Cuisine": cuisines,
    "Location": locations,
    "Ratings": ratings,
    "Image URL": image_urls
}
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

                    Restaurant Name  \
0                       Station Bar
1                             Local
2                    Openhouse Cafe
3                           Tamasha
4                     My Bar Square
5                     The G.T. Road
6                  Ministry Of Beer
7                    Warehouse Cafe
8              Connaught Club House
9                 The Junkyard Cafe
10              Unplugged Courtyard
11               Lord of the Drinks
12                          Berco's
13                      Dasaprakash
14              My Bar Headquarters
15                        Oh My God
16                           Sandoz
17                              QBA
18                      38 Barracks
19  Ardor 2.1 Restaurant and Lounge
20                   Lazeez Affaire

                                              Cuisine           Location  \
0           Italian, Chinese, North Indian, Fast Food          F-Block |
1                    North Indian, Asian, Continental    Scindia House |
2                        North Indian, Asian, Italian  Connaught Place |
3           Continental, Asian, Italian, North Indian  Connaught Place |
4          Finger Food, Chinese, Continental, Italian  Connaught Place |
5                                        North Indian          M-Block |
6          North Indian, Continental, American, Asian          M-Block |
7                      North Indian, Chinese, Italian  Connaught Place |
8           North Indian, Continental, Asian, Chinese  Connaught Place |
9       North Indian, Continental, Chinese, Fast Food  Connaught Place |
10  North Indian, Italian, Chinese, Turkish, Conti...  Connaught Place |
11                   Fast Food, Chinese, North Indian  Connaught Place |
12                                      Chinese, Thai  Connaught Place |
13  Beverages, Chinese, Continental, North Indian,...  Connaught Place |
14                              North Indian, Chinese  Connaught Place |
15                 Continental, North Indian, Chinese          F-Block |
16                          Continental, North Indian  Connaught Place |
17                 North Indian, Continental, Italian  Connaught Place |
18                 North Indian, Chinese, Continental          M-Block |
19        North Indian, Chinese, Italian, Continental  Connaught Place |
20                     Mughlai, Chinese, North Indian  Connaught Place |

   Ratings Image URL
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20